<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="http://127.0.0.1:5000/static/images/favicon.png" type="image/x-icon">
  <title>Aqua culture</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="http://127.0.0.1:5000/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="http://127.0.0.1:5000/static/css/responsive.css" rel="stylesheet" />

  <style>
    body{
      background-image: url('http://127.0.0.1:5000/static/images/contact-bg.jpg');
      background-size: cover;
      background-attachment: fixed;
    }
  </style>
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <div class="hero_bg_box">
      <div class="img-box">
        <img src="http://127.0.0.1:5000/static/images/hero-bg.jpg" alt="">
      </div>
    </div>

    <header class="header_section">
      <div class="header_top">
        <div class="container-fluid">
          <div class="contact_link-container">
            <a href="" class="contact_link1">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                Acharya IT ,Bangalore,
              </span>
            </a>
            <a href="" class="contact_link2">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Call : +01 1234567890
              </span>
            </a>
            <a href="" class="contact_link3">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                demo@gmail.com
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="header_bottom">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="/">
              <span>
                Aqua culture
              </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""></span>
            </button>

            <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
              <ul class="navbar-nav  ">
                <li class="nav-item ">
                  <a style="color: white;" href="/home">Aquaculture</a>
                  <a style="color: white;margin-left: 20px;" href="/analyse">Fish Disease</a>
                  <a style="color: white;margin-left: 20px;" href="/developer">About Us</a>
                  <a style="color: white;margin-left: 20px;"  href="/graph">Graphs</a>
                  <a style="color: white;margin-left: 20px;"  href="/">Logout</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- contact section -->

  <section class="contact_section layout_padding">

      <div class="heading_container heading_center">
        <h2>
          Aqua predictor
        </h2>
      </div>

          </div>
            <divc class="row" style="padding: 0 7%;" >
              <div class="col-lg-6">
                <center><h3>{{content[0]}}</h3></center>  
                <br>
                  <img src="{{images[0]}}" style="width: 90%;height: 300px;">
              </div>
              <div class="col-lg-6">
                <center><h3>{{content[1]}}</h3></center>  
                <br>
                  <img src="{{images[1]}}" style="width: 90%;height: 300px;">
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->


  <script src="http://127.0.0.1:5000/static/js/jquery-3.4.1.min.js"></script>
  <script src="http://127.0.0.1:5000/static/js/bootstrap.js"></script>
  <script src="http://127.0.0.1:5000/static/js/custom.js"></script>
</body>

</html>